[submodule "ledger-mode"]
	path = ledger-mode
	url = git@github.com:ledger/ledger-mode.git
[submodule "auto-resize-emacs"]
	path = auto-resize-emacs
	url = git@github.com:MatthewBregg/auto-resize-emacs.git
[submodule "scss-mode"]
	path = scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "typescript-mode"]
	path = typescript-mode
	url = https://github.com/emacs-typescript/typescript.el.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "use-package"]
	path = use-package
	url = git@github.com:jwiegley/use-package.git
